{% extends 'blog/base.html' %}

			{% block content %}
        	{% for post in posts %}
            <div class="post">
                <div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <p> <b>Precio:</b> $ {{ post.precio }} </p>
                </div>
                <a href="{{ post.archivo }}" target="_blank"><img  align="right" src="{{ post.archivo }}"></img></a>
            </div>
            <br>
   			{% empty %}
    		<p>Aun no hay posts de placas de videos</p>
        	{% endfor %}

			{% endblock content %}
