{% extends 'blog/base.html' %}

			{% block content %}
        	{% for post in posts %}
            <div class="post">
            <h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}" >{{ post.title }}</a></h1>
                <p>{{ post.texto|linebreaksbr }}</p>
                <br>
                <div class="date">
                	<p> Publicado el: {{ post.published_date }}</p>
                	<p> Posteo sobre: {{ post.componentes }}</p>
                </div>
                
            </div>
            <br>
   			{% empty %}
    		<p>Aun no hay posts de procesadores</p>
        	{% endfor %}

			{% endblock content %}
